[submodule "foundry/lib/ds-test"]
	path = foundry/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "gitmodules/uniswap/v3-periphery"]
	path = gitmodules/uniswap/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
