.DS_Store
build/
coverage.json
coverage/
node_modules/
.idea

.openzeppelin/.session

node_modules
.env*

#Buidler files
cache
artifacts

yarn-error.log

typechain

vr.sol
flattened_*

foundry/out/

deployments/localhost

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# zk link
artifacts-zk
cache-zk
