.DS_Store
build/
coverage.json
coverage/
node_modules/
.idea

.openzeppelin/.session

node_modules
.env*

#Buidler files
cache
artifacts

package-lock.json
yarn.lock

yarn-error.log

typechain

vr.sol
flattened_*

foundry/out/

deployments/localhost
