.DS_Store
build/
coverage.json
coverage/
node_modules/
.idea

.openzeppelin/.session

node_modules
.env*

#Buidler files
cache
artifacts

typechain

vr.sol
flattened_*

foundry/out/

deployments/localhost
